.ChainDetail {
  text-align: center;
}

.ChainDetailItem {
  max-width: 45vw;
  margin: 0 auto;
}

.ChainDetailAuthorPart {
  padding: 0.4em 0;
}

.ChainDetailAuthorPartName {
  font-size: 150%;
}

.ChainDetailAuthorPartAffilContainerWrapped {
  color: #444444;
}

.ChainDetailAuthorPartAffilContainerUnwrapped {
  color: #444444;
  /* These properties are removed from ChainDetailAuthorPartAffil when it
  unwraps, and that seems to shift everything below on the page a little bit.
  Not sure why, but moving those properties to the container seems to ensure
  everything falls in the exact same place when unwrapping a one-line affil */
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.ChainDetailAuthorPartAffilWrapped {
  max-width: 95%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.ChainDetailAuthorPartAffilUnwrapped {
  max-width: 70%;
}

.ChainDetailDocumentPart {
  font-size: 125%;
  padding: 0.4em 0;
}

.ChainDetailJournalPart {
  font-style: italic;
}

.ChainDetailADSPart {
  margin-left: 0.5em;
}

.ChainDetailSingleDocButton {
  color: #000 !important;
  opacity: 1 !important;
}

.ChainDetailDocButton {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.dropdown-toggle {
  white-space: normal;
}

.ChainDetailArrowPart {
  width: 5em;
  padding: 1em 0;
}

.ChainDetailItem:last-child .ChainDetailArrowPart {
  display: none;
}