.chain-table-container {
  width: 100%;
  display: inline-block;
  text-align: left;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 80vh;
}

@media screen and (max-width: 512px) {
  .chain-table-container {
    position: relative;
    left: -6px;
    width: calc(100% + 12px);
  }
}

.chain-table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  white-space: nowrap;
}

.chain-table-unselected-row:nth-child(even) .chain-table-cell {
  background: #F0F0F0;
}

.chain-table-unselected-row:hover .chain-table-cell {
  background: #529efe !important;
  color: #FFF !important;
}

.chain-table-selected-row .chain-table-cell {
  background: #1f8aff !important;
  color: #FFF;
}

.chain-table-cell {
  padding: 10px 4px;
  cursor: pointer;
}

.chain-table-unselected-row .chain-table-cell-hide {
  color: #999;
}

.chain-table-cell-contents {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.chain-table-cell-arrow {
  margin-right: 8px;
}

.chain-table-unselected-row .chain-table-cell-arrow {
  color: #000;
}

.chain-table-cell:first-child {
  border-left: 1px solid black;
  padding-left: 12px;
}

.chain-table-cell:last-child {
  border-right: 1px solid black;
  padding-right: 12px;
}

.chain-table-row:first-child .chain-table-cell {
  border-top: 1px solid black;
}

.chain-table-row:last-child .chain-table-cell {
  border-bottom: 1px solid black;
}

.chain-table-row:first-child .chain-table-cell:first-child {
  border-top-left-radius: 16px;
}

.chain-table-row:first-child .chain-table-cell:last-child {
  border-top-right-radius: 16px;
}

.chain-table-row:last-child .chain-table-cell:first-child {
  border-bottom-left-radius: 16px;
}

.chain-table-row:last-child .chain-table-cell:last-child {
  border-bottom-right-radius: 16px;
}