.chain-detail {
  width: 836px;
  text-align: center;
  margin: 0 auto 50px;
}

@media screen and (max-width: 912px) {
  .chain-detail {
    width: 100%;
  }
}

.chain-detail-header {
  margin: 20px 0;
}

.chain-detail-item {
  margin: 0 auto;
}

.chain-detail-exclude-button-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0.8em 0;
  display: none;
}

div:hover > .chain-detail-exclude-button-container, .chain-detail-exclude-button-container-force {
  display: block !important;
}

.chain-detail-exclude-button {
  padding: 0 7px;
  border: solid 1px;
  border-radius: 4px;
  font-weight: bold;
}

.chain-detail-exclude-button:hover {
  text-decoration: none;
}

.exclusion-confirmation-input {
  margin: 2px 0;
}

.exclusion-confirmation .name-syntax-help-button {
  font-size: small;
}

.exclusion-confirmation-button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 3px;
}

.chain-detail-author-part {
  padding: 0.8em 2.5em;
  position: relative;
}

.chain-detail-author-part-name {
  font-size: 150%;
}

.chain-detail-affil-container-wrapped {
  color: #444444;
}

.chain-detail-affil-container-unwrapped {
  color: #444444;
  /* These properties are removed from ChainDetailAuthorPartAffil when it
  unwraps, and that seems to shift everything below on the page a little bit.
  Not sure why, but moving those properties to the container seems to ensure
  everything falls in the exact same place when unwrapping a one-line affil */
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.chain-detail-affil-wrapped {
  max-width: 95%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.chain-detail-affil-unwrapped {
  max-width: 70%;
}

.chain-detail-journal-part {
  font-style: italic;
}

.chain-detail-ADS-part {
  margin-left: 0.5em;
}

.chain-detail-document-part {
  position: relative;
  padding: 0.8em 2.5em;
}

.chain-detail-single-doc-button {
  color: #000 !important;
  opacity: 1 !important;
  padding: 0;
}

.chain-detail-doc-button {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  padding: 0;
}

.dropdown-toggle {
  white-space: normal;
}

.chain-detail-arrow-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.chain-detail-arrow {
  width: 5em;
  padding: 1em 0;
}

.chain-detail-arrow-with-orcid {
  margin-left: 32px;
}

.ORCID-Icon {
  margin-left: 16px;
  width: 16px;
  height: 16px;
}

.chain-detail-item:last-child .chain-detail-arrow {
  display: none;
}