.ChainDetail {
  width: 836px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.ChainDetailHeader {
  margin: 20px 0;
}

.ChainDetailItem {
  margin: 0 auto;
}

.ChainDetailExcludeButtonPart {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0.8em 0;
  display: none;
}

div:hover > .ChainDetailExcludeButtonPart, .ChainDetailExcludeButtonPartForce {
  display: block !important;
}

.ChainDetailExcludeButtonPartButton {
  padding: 0 7px;
  border: solid 1px;
  border-radius: 4px;
  font-weight: bold;
}

.ChainDetailExcludeButtonPartButton:hover {
  text-decoration: none;
}

.ExclusionConfirmationInput {
  margin: 2px 0;
}

.ExclusionConfirmation .NameSyntaxHelpButton {
  font-size: small;
}

.ExclusionConfirmationButtonRow {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 3px;
}

.ChainDetailAuthorPart {
  padding: 0.8em 2.5em;
  position: relative;
}

.ChainDetailAuthorPartName {
  font-size: 150%;
}

.ChainDetailAuthorPartAffilContainerWrapped {
  color: #444444;
}

.ChainDetailAuthorPartAffilContainerUnwrapped {
  color: #444444;
  /* These properties are removed from ChainDetailAuthorPartAffil when it
  unwraps, and that seems to shift everything below on the page a little bit.
  Not sure why, but moving those properties to the container seems to ensure
  everything falls in the exact same place when unwrapping a one-line affil */
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.ChainDetailAuthorPartAffilWrapped {
  max-width: 95%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.ChainDetailAuthorPartAffilUnwrapped {
  max-width: 70%;
}

.ChainDetailJournalPart {
  font-style: italic;
}

.ChainDetailADSPart {
  margin-left: 0.5em;
}

.ChainDetailDocumentPart {
  position: relative;
  padding: 0.8em 2.5em;
}

.ChainDetailSingleDocButton {
  color: #000 !important;
  opacity: 1 !important;
  padding: 0;
}

.ChainDetailDocButton {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  padding: 0;
}

.dropdown-toggle {
  white-space: normal;
}

.ChainDetailArrowPart {
  width: 5em;
  padding: 1em 0;
}

.ChainDetailItem:last-child .ChainDetailArrowPart {
  display: none;
}