.graph {
  text-align: left;
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
}

.graph-display {
  width: 836px;
  height: 800px;
  margin-top: 10px;
  border: solid 3px #CCC;
}

@media screen and (max-width: 912px) {
  .graph-display {
    width: 100%;
    height: 80vh;
  }
}