.header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 calc(20px + var(--scrollbar-offset)) 20px 20px;
}

@media screen and (max-width: 500px) {
  .header h1 {
    font-size: 24px;
    width: 100%;
    order: 3;
  }
  .header .header-link-about {
    width: 50%;
    order: 2;
    flex: unset;
  }
  .header .header-link-home {
    width: 50%;
    order: 1;
    flex: unset;
  }
}

.header div {
  flex: 0 0 70px;
}

.page-title {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  flex: 1 0 200px !important;
}

.header a {
  color: #007bfe;
}