.Header {
  display: flex;
  align-items: flex-start;
  margin: 10px 20px 20px 20px;
}

.PageTitle {
  font-size: x-large;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}

.LeftArrow {
  border: solid #007bfe;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.Header a {
  color: #007bfe;
}