.loading-display {
  width: 900px;
}

.loading-title {
  font-size: x-large;
  margin: 10px 0;
}

.loading-constellations {
  margin: 15px;
  border-radius: 10px;
}

@media screen and (max-width: 912px) {
  .loading-display {
    width: 100%;
  }
  
  .loading-constellations {
    margin: 15px 0;
  }
}

@media screen and (max-width: 512px) {
  .loading-constellations {
    border-radius: unset;
  }
}

.loading-status-piece {
  min-width: 50px;
  display: inline-block;
  margin: 10px 30px;
}