.LoadingDisplay {
  width: 900px;
}

.LoadingTitle {
  font-size: x-large;
  margin: 10px 0;
}

.LoadStatusSubtitle {
  font-size: large;
}

.LoadStatusPiece {
  width: 200px;
  display: inline-block;
  margin: 10px 0;
}