.ResultDisplay {
  min-width: 900px;
  text-align: center;
  padding: 0 32px 32px 32px;
}

.ResultDisplayHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.ResultDisplayEditSearchButton {
  padding: 0;
}

.ResultDisplaySortSelectorContainer {
  text-align: right;
  margin-right: 10px;
}

.TableDisplayHeader {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #222;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-align: left;
}

.ResultDisplayFooter {
  margin-top: 65px;
  text-align: right;
}