.ResultDisplay {
  width: 889px;
  text-align: center;
  padding: 0 32px 32px 32px;
}

.ResultDisplayHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.ResultDisplayLeftArrow {
  border: solid #007bfe;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.ResultDisplayEditSearchButton {
  padding: 0;
}

.ResultDisplaySortSelectorContainer {
  text-align: right;
  margin-right: 10px;
}

.TableDisplayHeader {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #222;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.ResultDisplayFooter {
  margin-top: 65px;
  text-align: right;
}