.result-display {
  min-width: 900px;
  max-width: calc(100vw - 12px) !important;
  text-align: center;
  padding: 8px 32px 32px 32px;
}

@media screen and (max-width: 912px) {
  .result-display {
    width: 100% !important;
    min-width: unset;
    max-width: unset !important;
    padding-left: 22px;
    padding-right: 22px;
  }
}

@media screen and (max-width: 512px) {
  .result-display {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.result-display-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
}

.result-display-edit-search-button {
  padding: 0;
  flex: 0 0 100px;
}

.result-display-header .stats-display-container {
  flex-grow: 1;
  text-align: right;
}

.result-display-header .stat-display-button {
  text-align: right;
}

@media screen and (max-width: 620px) {
  .result-display-header .stat-display-button {
    font-size: smaller;
  }
}

@media screen and (max-width: 555px) {
  .result-display-header .stat-display-button {
    max-width: 210px;
  }
}

.result-display-sort-selector-container {
  text-align: right;
  margin-right: 10px;
}

.table-display-header {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #222;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  text-align: left;
}

.result-display-footer {
  margin-top: 65px;
  text-align: right;
}

.result-display-sort-selector-container .dropdown-toggle{
  white-space: nowrap;
}