.search-form-container {
  width: 500px;
  margin: 0 auto;
  padding: 32px;
}

@media screen and (max-width: 512px) {
  .search-form-container {
    width: 100%;
  }
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.search-form-arrow-part {
  width: 5em;
  padding: 1em 0;
  margin: 0 auto;
}

.search-form-button-container {
  display: flex;
  margin: 10px -10px 3px;
}

.search-form-button-container Button {
  margin: 0 10px;
}

.search-form-button-container .submit {
  flex-grow: 2;
}

