.SearchForm {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 32px;
}

.SearchFormArrowPart {
  width: 5em;
  padding: 1em 0;
  margin: 0 auto;
}