.word-cloud {
  display: inline-block;
  margin: 0 auto;
  padding-top: 10px;
}

.word-cloud-controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 30px;
}

.word-cloud-source-control-box {
  text-align: left;
  width: 225px;
  margin: 0 25px;
}

.word-cloud-misc-controls-box {
  text-align: left;
  width: 225px;
  margin: 0 25px;
}

.word-cloud-size-controls-box {
  width: 225px;
  margin: 0 25px;
}

.word-cloud-control-buttons {
  margin: 5px 0;
  text-align: center;
}

.word-cloud-control-buttons Button {
  margin: 3px 0;
}

.custom-range {
  border: 0;
}

.word-cloud-no-color text {
  fill: black !important;
}